<script src="https://giscus.app/client.js"
        data-repo="whathellis/my-digital-garden"
        data-repo-id="R_kgDONyKHdQ"
        data-category-id="DIC_kwDONyKHdc4CmfzV"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="catppuccin_latte"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
